[v-cloak] {
    display: none;
}
.pointer{cursor: pointer}
.demo-spin-icon-load{
    animation: ani-demo-spin 1s linear infinite;
}
@keyframes ani-demo-spin {
    from { transform: rotate(0deg);}
    50%  { transform: rotate(180deg);}
    to   { transform: rotate(360deg);}
}
.search-form .ivu-form-item{margin-bottom: 0px;margin-top: 6px;}
.ivu-table-body .ivu-checkbox-wrapper,.ivu-table-header .ivu-checkbox-wrapper{margin-right: 0px;}
.ivu-table-cell{padding-left: 10px;padding-right: 10px;}